<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <br>
  <%= link_to "Back to authors", authors_path %>
  <br>
  <%= link_to "Homepage", root_path %>
</div>
