<div id="<%= dom_id book %>">
  <div class="bookbox">
    <p>
      <strong>Title:</strong>
      <%= book.title %>
    </p>

    <p>
      <strong>Pages:</strong>
      <%= book.pages %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= book.author.name %>
    </p>
  </div>
  <%= link_to "This author", book.author %>
</div>

